<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CoverageTool" value="MSTest" />
    <add key="CCTool" value="Reflector" />
    <add key="CoverageReport" value="..\..\Crap4Net.AcceptanceTests\AcceptnaceTestData\InfraBuild\OutputDirectory\Out\data.coverage" />
    <add key="CCReport" value="..\..\Crap4Net.AcceptanceTests\AcceptnaceTestData\InfraBuild\ccReport.xml" />
    <add key="OutputFile" value="CrapReport.xml" />
    <add key ="FormatterType" value="Crap4J"/>
  </appSettings>
</configuration>