<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CoverageTool" value="PartCover" />
    <add key="CCTool" value="Reflector" />
    <!--<add key="CoverageReport" value="AcceptnaceTestData\Crap4Net\data.coverage" />-->
    <add key="CoverageReport" value="UnitTestData\PartCoverFiles\data.xml" />
    <add key="CCReport" value="AcceptnaceTestData\Crap4Net\Crap4NetReflectorCCReport.xml" />
    <add key="OutputFile" value="CrapReport.xml" />
    <add key ="FormatterType" value="Crap4J"/>
  </appSettings>
</configuration>